**1. Write a python program to sum of the first n positive integers.**

In [ ]:
n = int(input("Enter a number : "))

sum = (n * (n+1))/2

print(f"The first {n} positive integers sum is {sum}")

Enter a number : 10
The first 10 positive integers sum is 55.0

In [ ]:
n = int(input("Enter a number : "))

x = 0
for i in range(n+1):
  x = x + i
print(x)

Enter a number : 15
120

**2. Write a Python program to count occurrences of a substring in a string.**

In [ ]:
s = "Python allows you to split your program into modules that can be reused in other Python programs"
s1 = "Python"
s2 =  s.count(s1)
print(f"The substring {s1} is {s2} times in string.")

The substring Python is 2 times in string.


**3. Write a Python program to count the occurrences of each word in a given sentence.**

In [ ]:
def CountWord(s):
  s1 = s.split()

  for i in s1:
    c = s1.count(i)
    print(i,"-", c)

s = "Python allows you to split your program into Python modules that can be reused in other Python program"
CountWord(s)

Python - 3
allows - 1
you - 1
to - 1
split - 1
your - 1
program - 2
into - 1
Python - 3
modules - 1
that - 1
can - 1
be - 1
reused - 1
in - 1
other - 1
Python - 3
program - 2

In [ ]:
def CountWord(s):
  d = {}
  s1 = s.split()

  for i in s1:
    c = s1.count(i)
    d.setdefault(i,c)
  print(d)

s = "Python allows you to split your program into Python modules that can be reused in other Python program"
CountWord(s)

{'Python': 3, 'allows': 1, 'you': 1, 'to': 1, 'split': 1, 'your': 1, 'program': 2, 'into': 1, 'modules': 1, 'that': 1, 'can': 1, 'be': 1, 'reused': 1, 'in': 1, 'other': 1}

**4. Write a Python program to get a single string from two given strings, separated by a space and swap the first
two characters of each string**

In [ ]:
s1 = input("Enter string 1: ")
s2 = input("Enter string 2: ")

s3 = s1.replace(s1[0:2], s2[0:2])
s4 = s2.replace(s2[0:2], s1[0:2])

print(s3,s4)

Enter string 1: ABC
Enter string 2: XYZ
XYC ABZ

**5. Write a Python program to add 'ing' at the end of a given string (length should be at least 3).
If the given string already ends with 'ing' then add 'ly' instead If the string length of the given
string is less than 3, leave it unchanged**

In [ ]:
s = input("Enter a String: ")
s1 = (s.split())

for i in s1:
  if len(i) > 3:
     if i[-3::] == "ing":
       print(i.replace(i[-3::],"ly"))
     else:
       print(i+"ing")
  else:
    print(i)

Enter a String: i am learning python
i
am
learnly
pythoning

**6. Write a Python program to find the first appearance of the substring 'not' and 'poor' from a given string, if
'not' follows the 'poor', replace the whole 'not'...'poor' substring with 'good'.
Return the resulting string**

In [ ]:
s = "Python is not that poor, Python is not that poor, Python is not that poor"
sn = s.find("not")
sp = s.find("poor")

if sp > sn:
  s = s.replace(s[sn:sp+4], "good")
  print(s)

else:
  print(s)

Python is good, Python is good, Python is good

**7. Program to find Greatest Common Divisor of two numbers.
For example, the GCD of 20 and 28 is 4 and GCD of 98 and 56 is 14.**

In [ ]:
a = int(input("Number 1: "))
b = int(input("Number 2: "))
l = []
for i in range(1,100,1):
  if a % i==0 and b % i==0:
    l.append(i)

m = (max(l))
print(f"The greatest common divisor of {a} and {b} is : {m}.")

Number 1: 98
Number 2: 56
The greatest common divisor of 98 and 56 is : 14.

**8. Write a Python program to check whether a list contains a sublist.**

In [33]:
def Sublist(l, sl):
  if sl in l:
    return f"The sublist {sl} is in the list."
  else:
    return f"The sublist {sl} is not in the list."

l = [[1,2],[3,4],[53,65],[87,12],[33,34]]
ls = [3,4]
lss = [65,53]
print(Sublist(l, ls))
print(Sublist(l, lss))

The sublist [3, 4] is in the list.
The sublist [65, 53] is not in the list.

**9. Write a Python program to find the second smallest number in a list.**

In [ ]:
l = [23,54,98,425,31,456,256,54]
l.sort()
m = l[1]
print(f"The second smallest number in a list is : {m}")

The second smallest number in a list is : 31

**10. Write a Python program to get unique values from a list.**

In [ ]:
l = [12,35,48,21,12,48,86,75,35]
u =[]

for i in l:
  if i not in u:
    u.append(i)

print(u)

[12, 35, 48, 21, 86, 75]

**11. Write a Python program to unzip a list of tuples into individual lists.**

In [ ]:
l = [(12,21,11),(45,5,54),(98,78,87)]
for i in l:
  print(list(i))

[12, 21, 11]
[45, 5, 54]
[98, 78, 87]

**12. Write a Python program to convert a list of tuples into a dictionary**

In [ ]:
l = [(45,"Maths"),(54,"English"),(65,"Science")]
d  = {}
for i,j in l:
  d.setdefault(i,j)

print(d)
print(type(d))

{45: 'Maths', 54: 'English', 65: 'Science'}
<class 'dict'>

**13. Write a Python program to sort a dictionary (ascending /descending) by value.**

In [ ]:
def sortDictValue(d, reverse = False):
  return dict(sorted(d.items(), key = lambda x: x[1], reverse = reverse))

d = {"a": 10, "b": 5 , "p":20 , "d":15 ,"e":25}
print(sortDictValue(d))

{'b': 5, 'a': 10, 'd': 15, 'p': 20, 'e': 25}

**14. Write a Python program to find the highest 3 values in a dictionary.**

In [38]:
d = {"a": 10, "b": 5 , "p":20 , "d":15 ,"e":25}
a = sorted(d.values())

print(f" The highest 3 values in dictionary is {a[-3::]}")

 The highest 3 values in dictionary is [15, 20, 25]

**15. Given a number n, write a python program to make and print the list of Fibonacci series up to n.
Input : n=7
Hint : first 7 numbers in the series
Expected output :
First few Fibonacci numbers are 0, 1, 1, 2, 3, 5, 8, 13**

In [40]:
n = int(input("Enter a number: "))
x = 0
y = 1

for i in range(0,n):
    z = x + y
    x = y
    y = z
    print(z)

Enter a number: 7
1
2
3
5
8
13
21

**16. Counting the frequencies in a list using a dictionary in Python.
Input : [1, 1, 1, 5, 5, 3, 1, 3, 3, 1,4, 4, 4, 2, 2, 2, 2]
Expected output : 1 : 5 , 2 : 4 , 3 : 3 , 4 : 3 , 5 : 2**

In [ ]:
l = [1, 2, 1, 1, 5, 5, 3, 1, 3, 2, 3, 1, 4, 4, 4, 2, 2, 2, 2,56]
d = {}

for i in l:
  d[i] = d.get(i,0) + 1

print(d)

{1: 5, 2: 6, 5: 2, 3: 3, 4: 3, 56: 1}

**17. Write a python program using function to find the sum of odd series and even series
Odd series: 12/ 1! + 32/ 3! + 52/ 5!+……n
Even series: 22/ 2! + 42/ 4! + 62/ 6!+……n**

In [ ]:
import math
n = int(input("Enter a number: "))
x = 12
y = 22
m = 20
sum1 ,sum2 = 0,0

for i in range(0,n):
  a = 1 + (i*2)
  b = math.factorial(a)
  sum1 += ((x+(m*i))/b)

  c =  2 + (i*2)
  d = math.factorial(c)
  sum2 += ((y + (m*i))/d)

print(f"sum of first {n} odd series : {sum1}")
print(f"sum of first {n} evn series : {sum2}")

Enter a number: 5
sum of first 5 odd series : 17.78120590828924
sum of first 5 evn series : 12.83817294973545

**18. Python Program to Find Factorial of Number Using Recursion**

In [43]:
def FctNum(n):
  # n = int(input("Enter a number : "))
  fct = 1

  for i in range(1,n+1):
    fct = fct * i
  print(fct)

FctNum(6)

720

**19. Write a Python function that takes a list and returns a new list with unique elements of the first list.**

In [ ]:
def unique(l):
  nl = []
  for i in l:
    if i not in nl:
      nl.append(i)
  return nl

l = [12,21,54,5432,12,54,21]
print(unique(l))

print(unique(["A","B","A","C","D","B","D","C"]))

[12, 21, 54, 5432]
['A', 'B', 'C', 'D']

In [ ]:
s = "google.com"
d = {}
for i in s:
  c = s.count(i)
  d.setdefault(i,c)

print(d)

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

In [ ]:
s = "python asdfghghfdg is best lang for Data "
s1 = s.split()
d = []
for i in s1:
  l = len(i)
  d.append(l)
print(max(d))

11

In [ ]:
s = "python a is is for is best lang for python Data"
s1 = s.split()
d = {}
for i in s1:
  c = s1.count(i)
  d.setdefault(i ,c)

print(d)

{'python': 2, 'a': 1, 'is': 3, 'for': 2, 'best': 1, 'lang': 1, 'Data': 1}

In [ ]:
s = "PYthon is BEST for DATa analyTIcs and DaTa SCieNce"
s1 = s.split()

for i in s1:
  if i[0:2] == i[0:2].upper():
    i.upper()
    print(i.upper(  ))

PYTHON
BEST
DATA
SCIENCE

In [ ]:
s = "PYthon is the BEST for DATa analyTIcs and DaTa SCieNce"
v = "AEIOU"
d = {}
s = s.upper()

for i in s:
  for j in v:
    if i == j:
      c = s.count(i)
      d.setdefault(j, c)
print(d)

{'O': 2, 'I': 3, 'E': 4, 'A': 7}

In [ ]:
l = [1,2,3,4,5,4,2,6,3]
c = []
for i in l:
  if i not in c:
    c.append(i)

print(c)

[1, 2, 3, 4, 5, 6]

In [ ]:
l = [12,32,12,65,65,32,12,12,32,12]
c = 0
d = {}
for i in l:
  c = l.count(i)
  d.setdefault(i, c)
print(d)

{12: 5, 32: 3, 65: 2}

In [ ]:
l = [10,20,30]
for i in l:
  print(i,end="")

102030

In [ ]:
n = int(input())
d = {}
for i in range(1,n+1):
  c = i*i
  d.setdefault(i,c)

print(d)

10
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [47]:
a = {"a":100, "b":200, "c":300}
b = {"b":100, "c":200, "d":300, "f":500}
d = {}

for i , j in a.items():
  for x, y in b.items():
    if i == x:
      d[i] = j + y

for e , f in a.items():
  if e not in d:
    d.setdefault(e, f)

for g , h in b.items():
  if g not in d:
    d.setdefault(g, h)

print(d)

{'b': 300, 'c': 500, 'a': 100, 'd': 300, 'f': 500}

In [48]:
l = [{"v":"s001"},{"a":"s001"},{"b":"s001"},{"c":"s001"},{"d":"s001"},{"f":"s001"}]
for i in l:
  for j , k in i.items():
    print(k, end=",")

s001,s001,s001,s001,s001,s001,